
<section class="my-3">
   <div class="row g-0 ">
    <div class="col-md-8">
        <div>
            <owl-carousel-o [options]="maincustomOptions">
                <ng-template carouselSlide>
                    <img src="./assets/images/slider-image-3.jpeg" alt="" class="w-100" style="height: 300px;">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./assets/images/slider-image-2.jpeg" alt="" class="w-100" style="height: 300px;">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="./assets/images/slider-image-1.jpeg" alt="" class="w-100" style="height: 300px;">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="./assets/images/slider-2.jpeg" alt="" class="w-100" style="height: 300px;">
                </ng-template> 
                 
              </owl-carousel-o>
        </div>
    </div>
    <div class="col-md-4">
    <div>
        <img src="../../../assets/images/grocery-banner.png" alt="" class="w-100"  style="height: 150px;">
        <img src="../../../assets/images/grocery-banner-2.jpeg" alt="" class="w-100"   style="height: 150px;">
    </div>
</div>
   </div>


</section>

<section class="my-2 container" >
    <owl-carousel-o [options]="customOptions">

        @for (cat of allcategories; track cat._id) {
            <ng-template carouselSlide >
            
                <img [src]="cat.image" style="height: 250px;" class="w-100 " alt="">
                <h3 class="h6 text-center mt-1">{{cat.name}}</h3>
            </ng-template>
        }
      </owl-carousel-o>

</section>


<section class="mt-2"> 
    <input [(ngModel)]="word" type="search" class="form-control w-50 ms-auto my-2 mx-auto " placeholder="search by name">

  <div class="row g-3 ">

    @for( product of allproducts.slice(0,12) | search : word; track product.id ){
    <div class="col-md-2 ">
        <div class=" p-2 product  " >
         <div [routerLink]="['/details' , product.id]" >
            <img [src]="product.imageCover" [alt]="product.title" class="w-100">
         <h3 class="small main-color">{{product.category.name}}</h3>
         <h4 class="h6">{{product.title.split(" ",2).join(" ")}}</h4>
         <div class="d-flex justify-content-between align-items-center">
            <span>{{product.price|currency :'GBP' }} </span>
            <div>
                @for( star of [0,1,2,3,4].slice(0,product.ratingsAverage); track $index ){
                    <i class="fas fa-star rating-color"></i>
                }
                @if (product.ratingsAverage %2 !==0) {
                    <i class="fa-solid fa-star-half-stroke rating-color "></i>
                }
                
                <span class="text-muted">{{product.ratingsAverage}}</span>
            </div>

         </div>
         </div>
         <span  [ngClass]="{'text-danger': _WishlistService.isInWishlist(product.id)}" class="cursor-pointer" (click)="_WishlistService.toggle(product.id)"><i class="fa-solid fa-heart fa-2xl my-3 "></i></span>
         <button class="btn-main w-100" (click)="addcart(product.id)">Add to Cart</button>
        </div>
       
    </div>}
</div>
</section>
