<section class="bg-main-light shadow p-2 my-2 rounded">
    <h1 class="h2 text-main">login Now:</h1>

    <form  [formGroup]="loginform" (ngSubmit)="loginsubmit()">
  
      <div class="my-2">
        <label for="email">email</label>
        <input  [ngClass]="{
            'is-valid':!loginform.get('email')?.errors && (loginform.get('email')?.touched ||loginform.get('email')?.dirty),
             'is-invalid':loginform.get('email')?.errors && (loginform.get('email')?.touched ||loginform.get('email')?.dirty)
        }"
         type="email" id="email" class="form-control " formControlName="email">
        @if (loginform.get('email')?.errors && (loginform.get('email')?.touched ||loginform.get('email')?.dirty)) {
            <div class="w-50 alert alert-danger">
                @if (loginform.get('email')?.getError('required')) {<p class="m-0">email is required</p>}
                @else if (loginform.get('email')?.getError('email')) {<p class="m-0"  >inter valid email</p>}
                
            </div>
         }
      </div>
     
      <div class="my-2">
        <label for="passward">passward</label>
        <input [ngClass]="{
            'is-valid':!loginform.get('password')?.errors && (loginform.get('password')?.touched ||loginform.get('password')?.dirty),
             'is-invalid':loginform.get('password')?.errors && (loginform.get('password')?.touched ||loginform.get('password')?.dirty)
        }"
        type="password" id="passward" class="form-control " formControlName="password">
        @if (loginform.get('password')?.errors &&  (loginform.get('password')?.touched||loginform.get('password')?.dirty)) {
            <div class="w-50 alert alert-danger">
                @if (loginform.get('password')?.getError('required')) {<p class="m-0">password is required</p>}
                @else if (loginform.get('password')?.getError('pattern')) {<p class="m-0"  >inter valid password </p>}
                
            </div>
         }
      </div>
     
       <div class="d-flex justify-content-end g-4">
        <a routerLink='/forget'> forget password</a>

        <button  class="btn-main ms-auto d-block" type="submit">login 
            @if(spin){
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
            
           </button>


       </div>
          @if (errormessage) {<p class="alert-danger alert m-0  w-50" >{{errormessage}}</p>}

          @if (messagesuccess) {
            <p class="text-center  "> success</p>
          }
       
    </form>



</section>


